# Keep source and tabular records portable across operating systems.
* text=auto eol=lf
# Preserve padded reference CIF data and the upstream license text verbatim.
libs/af3-data/src/alphafold3/test_data/** -whitespace
**/UPSTREAM-LICENSE -whitespace
